# Interface Gráfica
customtkinter>=5.2.0

# Manipulação de Planilhas
openpyxl>=3.1.5
pandas>=2.3.2

# Processamento de Dados
numpy>=2.3.3
python-dateutil>=2.9.0

# Banco de Dados (SQLite é nativo do Python)
# sqlite3 - built-in

# Utilitários
beautifulsoup4>=4.13.5
lxml>=6.0.2

# Windows Styles
pywinstyles>=1.8
